html,
body {
  height: 100%;
}

.box {
  padding: 40px 10px 30px 15px;
  border: red 5px dashed;
  margin: 10px 30px 5px 25px;
  display: inline-block;

  box-sizing: border-box;
  height: 300px;
  width: 50%;
  margin: 0;
}

.box-1 {
  display: none;
}

div:last-of-type:hover {
  background: black;
  color: white;
}
